<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>

<%= nav_bar fixed: :top, brand: "Courses" do %>
  <%if (current_user)%>
    <%= menu_group pull: :left do %>
      <%= menu_item "Courses", courses_path, :style=>'font-weight: bold;' %>
      <%= menu_item "Subscribe Course", subscribe_view_slot_path, :style=>'font-weight: bold;' %>
    <% end %>
    <%= menu_group pull: :right do %>
      <%= menu_item "Logout", destroy_user_session_path, :style=>'font-weight: bold;', :method => :delete %>
    <% end %>
  <% end %>
<% end %>

<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

</body>
</html>
